body {
  padding: 40px 0px 0px 0px;
  z-index: 0;
}
#jumbo-images1{
  position:relative;
  margin-right:0;
}
#hrr{
  border: 1px solid;
}
.sponsor_image{
  position: relative;
  width:130px;
  height:130px;
}
.jumbotron{
  margin: 0px auto;
  padding: 30px 30px;
  background: #9575CD;
  color: floralwhite;
}
h1{
  font-size:1.2rem;
}
.footer {
    /* background-color: #252323; */
  margin: 0px auto;
  padding: 20px 0px;
  color:white;
}
.dropdown-menu{
  background:#343A40  ;
}
.navigation_bar{
  z-index:100;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.dates{

}
.marquees{
  background: lightgrey;
}
#Keynote-speakers{
  font-size: 50px;
  font-stretch: expanded;
  font-weight: bold;
}
.Keynotes{
  padding-bottom: 70px;
  background: #A8F1F1;
}
#sp-images{
  padding-left: 30px;
  padding-right: 25px;
  margin: 0;
}
#sp-images2{
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  width: 180px;
}
#pp-images{
  padding: 10px 30px 10px 30px;
}
.dropdown-item{
  color:white;
  background-color:#512DA8;
}
.dropdown-item:hover{
  background:#9575CD;
}
#logo{
  width:50px;
  height: 37px;

}
li{
  float: left;
  position: relative;
  padding: 0px 10px 0px 10px;
}
.navbar{
background-color:#512DA8;
}
.dropdown-menu{
  color:black;
  background-color:#512DA8;

}
.row-header {
margin: 0px auto;
padding: 0px 0px;
}
.row-content {
margin: 0px auto;
padding: 20px 0px;
border-bottom: 1px ridge;
min-height: 400px;
}
